{% extends 'core/main.html' %}
{% block content %}
<div class="p-5 mt-10 font-mono tracking-wide text-gray-700 ">
    <div class="flex items-center gap-5 mb-10">
        <span><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-12 h-12 text-blueColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 6a7.5 7.5 0 1 0 7.5 7.5h-7.5V6Z" />
                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 10.5H21A7.5 7.5 0 0 0 13.5 3v7.5Z" />
            </svg>
        </span>

        <h1 class="text-2xl text-gray-600 text-shadow-sm ">Doughnut Chart of your transactions</h1>
    </div>
    <div>
        <canvas id="doughnutChart" width="400" height="400"></canvas>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>

        document.addEventListener('DOMContentLoaded', function () {
            var ctx = document.getElementById('doughnutChart').getContext('2d');
            var data = {
                labels: ['Expenses', 'Income'],
                datasets: [{
                    data: [{{ total_expense }}, {{ total_income }}],
                backgroundColor: ['rgb(54, 162, 235)', 'rgb(255, 99, 132)'],

        }]
        };

        var options = {
            responsive: true,
            maintainAspectRatio: false,

            plugins: {
                title: {
                    display: false,
                    text: 'Income and Expense Doughnut chart',
                    padding: {
                        top: 20,
                        bottom: 30
                    },

                }
            },


        };

        var doughnutChart = new Chart(ctx, {
            type: 'doughnut',
            data: data,
            options: options
        });
            });



    </script>

</div>

{% endblock %}